<style>
    .container{
        display: flex;
        justify-content: center;
    }
    .Login_form{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px ;
        margin: 20px;
        margin-top:50px;
        border-radius: 10px;
    }
    .Login_form h2{
        /* text-align: center; */
        margin-left:10px;
        font-family: 'Roboto Condensed', sans-serif;
    }


    .inp_div{
        background-color:rgb(236, 237, 239);
        padding: 5px 10px;
        border-radius: 5px;
        margin:10px;
    }
    .inp_div input{
        border: none;
        width:200px;
        margin-left: 5px;
        padding:5px 0px;
        background-color:none;
        background-color:rgb(236, 237, 239);
    }

    .inp_div input:focus{
        border: none;
        outline: none;
    }

    .sub_text{
        font-size:12px;
        margin:10px;
    }
    .btn-full{
        margin-left: 10px;
    }
    .btn-full button{
        border: none;
        border-radius: 5px;
        background-color:#dddd;
        color:#fff;
        width:96%;
        padding:9px;
        /* margin:10px; */
    }

    .btn-full p{
        border: none;
        border-radius: 5px;
        background-color:#ebebeb;
        /* color:#fff; */
        text-align: center;
        width:85%;
        padding:9px;
        margin:10px;
    }
    btn-full p a{
        text-decoration: none;
    }
</style>


<div class="container">
    <form action="/login" class="Login_form" method="post">
        
        <h2><i class="user circle outline icon"></i> Log In</h2>
    
        <div class="inp_div">
            <i class="envelope outline icon"></i>
        <input type="email" name="uemail" id="uemail" placeholder="Email..">
        </div>
        <p style="color:red"><%=mesg%></p>
        <div class="inp_div">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="upass" id="upass" placeholder="Password">
            </div>
        
        <div class="btn-full"><button class="ui primary button">Login</button></div>

        <div style="text-align:center">----or----</div>

        <div class="btn-full"><p class="sub_text">New user? <a href="/register" style="text-decoration: none;color:#5800FF">Register</a></p></div>
        
    </form>
</div>

